<p>demo works!</p>
<!-- <input type="text" name="fname" [(ngModel)]="fname" /><br />
{{ fname }}<br />
<input type="text" name="username" [(ngModel)]="username" (ngModelChange)="greet($event)"/><br />
{{ username }}
<br />
<input type="text" name="name" [(ngModel)]="Name" /><br />
{{ Name}}
<br />
<input type="text" name="family" [(ngModel)]="family" #familyref /><br />

{{ firstname + ' ' + lastname}} -->
<!--
<div [class]="demo" (click)="democount()">demo</div>
 -->

Enter Name <input (keyup)="0" type="text" #fname name="fname" value="Anand"/>
<!-- <input type="button" name="click" (click)="showName(custom)" /> -->
<b>Welcome {{fname.value}}
