<!--<app-teacher></app-teacher>
<app-student></app-student>-->


<!--<app-parent></app-parent>


<div #myTestDiv id="testchild">Hi I am demo</div>
<p>
  <label>userName</label>
  <input [(ngModel)]="userName" />
</p>
-->
<!--<app-main ></app-main>-->
<!--<app-mother></app-mother>-->

<!--<app-demo></app-demo>-->
<!-- <div appRainbow>
  <h3>{{title}}</h3>
</div> -->

<!-- <div appAppHighlight>
  Hover over me to highlight!
</div> -->
<!-- <app-viewparent></app-viewparent> -->
<!--<app-contentproparent></app-contentproparent>-->
<!--<app-contproparent></app-contproparent>-->
<!--<app-demo></app-demo>-->
<!--<app-rxjsdemo></app-rxjsdemo>-->
<!--<app-httpinterdemo></app-httpinterdemo>-->
<!--<app-logout></app-logout>-->
<!-- <app-home></app-home>-->
<!-- app container -->
<!-- <app-about></app-about>
<app-anotherhome></app-anotherhome> -->
